html,
body,
p,
span,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

html,
body {
  background-color: #fcf9f7;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}

.container > ul {
  position: relative;
  top: 40px;
  list-style: none;
  padding: 0;
}

.container > ul > li {
  position: relative;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
  padding: 10px;
  background-color: lightblue;
}

.container > ul > li > span {
  position: absolute;
  right: 10px;
}

.newTaskButton {
  z-index: 1;
  cursor: pointer;
  background-color: aquamarine;
  border: 0;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  max-width: 50%;
}

.newTaskButton:hover {
  background-color: aqua;
}

.InfoContainer {
  position: relative;
  /* top: 40px; */
}

.InfoContainer > p {
  margin: 0;
}

.FilterButtons {
  display: flex;
  gap: 10px;
}
